<a href="https://colab.research.google.com/github/Gomathiswari/python/blob/main/Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1= 1.5 
num2 = 6.3
sum = num1 + num2
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

The sum of 1.5 and 6.3 is 7.8

In [ ]:
num1 = input('enter first number: ')
num2 = input('enter second number: ')
sum = float(num1)+float(num2)
print('the sum of {0} and {1} is {2}'.format(num1,num2,sum))

enter first number: 5
enter second number: 5
the sum of 5 and 5 is 10.0

In [ ]:
num = 8
num_sqrt = num ** 0.5
print('the square root of %0.3f is %0.3f'%(num,num_sqrt))

the square root of 8.000 is 2.828

In [ ]:
import cmath
num = 1+2j
num_sqrt = cmath.sqrt(num)
print('the square root of {0} is {1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

the square root of (1+2j) is 1.272+0.786j

In [ ]:
a = 5
b = 6
c = 7
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print('the area of the triangle is %0.2f' %area)

the area of the triangle is 14.70

In [ ]:
x = 5
y = 10
temp = x
x = y
y=temp

print('the value of x after swapping:{}'.format(x))
print('the value of y after swapping:{}'.format(y))

the value of x after swapping:10
the value of y after swapping:5

In [ ]:
website = "apple.com"
print(website)

apple.com

In [ ]:
website = "apple.com"
print(website)
website = "programiz.com"
print(website)

apple.com
programiz.com

In [ ]:
a,b,c,=5,3.2,"hello"
print(a)
print(b)
print(c)

5
3.2
hello

In [ ]:
x=y=z="same"
print(x)
print(y)
print(z)

same
same
same

In [ ]:
a = 0b1010
b = 100
c = 0o310 
d = 0x12c 

float_1 = 10.5
float_2 = 1.5e2

x = 3.14j

print(a,b,c,d)
print(float_1,float_2)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [ ]:
string = "this is python"
char = "c"
multiline_str = """this is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(string)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

this is python
c
this is a multiline string with more than one line code.
Ünicöde
raw \n string

In [ ]:
x = (1 == True)
y = (1 == False)
a = True  + 4
b = False + 10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

In [ ]:
drink = "available"
food = None
def menu(x):
  if x == drink:
    print(drink)
  else:
    print(food)
menu(drink)
menu(food)

available
None

In [ ]:
fruits = ["apple","mango","orange",]
numbers = (1,2,3)
alphabets = {'a':'apple','b':'ball','c':'cat'}
vowels = {'a','e','i','o','u'}
print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a', 'u', 'o', 'e', 'i'}

In [ ]:
def max_of_two(x,y):
  if x > y:
    return x
  return y
def max_of_three(x,y,z):
      return max_of_two(x,max_of_two(y,z))
print(max_of_three(3, 6, -5))

6

In [ ]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total 
print(sum((8, 2, 3, 0, 7)))

20

In [ ]:
def multiply(numbers):
    total = 1 
    for x in numbers:
        total *= x
    return total 
print(multiply((8, 2, 3, -1, 7)))

-336

In [ ]:
def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index -1 
    return rstr1
print(string_reverse('1234abcd'))

dcba4321

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
       return n * factorial(n-1)
n=int(input("input a number to computer the factorial :"))
print(factorial(n))

input a number to computer the factorial :4
24

In [ ]:
def test_range(n):
    if n in range(3,9):
         print("%s is in the range"%str(n))
    else :
         print("the number is outside the given range.")
test_range(5)

5 is in the range

In [ ]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
          d["LOWER_CASE"]+=1
        else:
           pass
    print("original string:,s")
    print("no.of upper case characters : ",d["UPPER_CASE"])
    print("no.of lower case characters : ",d["LOWER_CASE"])
string_test('the quick brown fox')

original string:,s
no.of upper case characters :  0
no.of lower case characters :  16