<a href="https://colab.research.google.com/github/Gomathiswari/python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
def printme(str):
  "this prints a passed string into this function"
  print (str)
  return

In [19]:
def printme(str):
  "This prints a passed string into this function"
  print (str)
  return;
  printme("I'm first call to user defined function")
  printme("again second call to the same function")

In [34]:
def changeme( mylist ):

  "this change a passed list into this function"
  mylist.append([1,2,3,4]);
  print("value inside the function:",mylist )
  return 

mylist = [10,20,30];
changeme(mylist);
print("value outside the function : ",mylist)

value inside the function: [10, 20, 30, [1, 2, 3, 4]]
value outside the function :  [10, 20, 30, [1, 2, 3, 4]]

In [41]:
def changeme( mylist ):
  "this change a passed list into funcion"
  mylist = [1,2,3,4];
  print("value inside the function: ",mylist)
  return


mylist = [10,20,30];
changeme( mylist );
print("value outside the function: ",mylist)

value inside the function:  [1, 2, 3, 4]
value outside the function:  [10, 20, 30]

In [44]:
def printme( str ):
  "this print a passed string into this function"
  print (str)
  return;
printme()

TypeError: ignored

In [46]:
def printme(str):
  "this print a passed string into this function"
  print (str)
  return;
printme(str = "my string")

my string

In [50]:
def printinfo(name,age):
  "this print a passed info into this function"
  print("name",name)
  print("age",age)
  return;

printinfo(age=50,name="miki")

name miki
age 50

In [51]:
def printinfo( name,age = 35):
  "this print a passed info this function"
  print("name:",name)
  print("age:",age)
  return;

printinfo(age=50,name="miki")
printinfo(name="miki")

name: miki
age: 50
name: miki
age: 35

In [53]:
def printinfo(arg1,*vartuple):
  "this print a variablepassed arguments"
  print ("output is :")
  print (arg1)
  for var in vartuple:
    print (var)
  return;

printinfo(10)
printinfo(70,60,50)

output is :
10
output is :
70
60
50

In [55]:
total = 0;
def sum(arg1,arg2):
  total=arg1+arg2;
  print("inside the function local total :",total )
  return total;

sum(10,20)
print("outside the function global total :",total)

inside the function local total : 30
outside the function global total : 0

In [61]:
from math import sqrt 
max_value = eval(input('display prime up to what value?'))
value=2

while value <= max_value:
  is_prime = True
  trial_factor = 2
  root = sqrt(value)
  while trial_factor <= root:
    if value % trial_factor == 0:
      is_prime = False;
      break
    trial_factor += 1
  if is_prime:
    print(value,end='')
  value +=1
print()

display prime up to what value?50
23571113171923293137414347

In [62]:
from time import clock

print("enter your name:",end="")
start_time = clock()
name = input()
elapsed = clock()-start_time
print(name,"it took you",elapsed,"second to respond")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

enter your name:gomi
gomi it took you 0.06910399999999939 second to respond

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

In [66]:
from time import clock 

max_value = 10000
count = 0
start_time = clock ()
for value in range(2,max_value+1):
  is_prime=True
  for trial_factor in range(2,value):
    if value % trial_factor == 0:
        is_prime = False
        break 
  if is_prime:
    count += 1
print()
elapsed = clock() - start_time
print("count:",count," Elapsed time:",elapsed,"sec")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  """

count: 1229  Elapsed time: 0.7996850000000038 sec

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  from ipykernel import kernelapp as app

In [67]:
from time import sleep
for count in range(10,-1,-1):
    print(count)
    sleep(1)

10
9
8
7
6
5
4
3
2
1
0

In [68]:
from random import randrange,seed

seed(23)
for i in range(0,100):
    print(randrange(1,1000),end='')
print()

9487999722979148508618607315434389543367134744197274456152276364669242610988728511432215256437524423687905921180237604378674177636222995753372580779881378992586289677999322587888344861827364956058114596926581681878191835473326908365332015971188510143740582283963587288841605339112379922296

In [73]:
from random import randrange 
for i in range(0, 3):
    value = randrange(1, 6)
    print("+-------+")
    if value == 1:
        print("|       |")
        print("|   *   |")
        print("|       |")
    elif value == 2:
        print("|*      |")
        print("|       |")
        print("|     * |")
    elif value == 3:
        print("|     * |")
        print("|   *   |")
        print("| *     |")
    elif value == 4:
        print("| *   * |")
        print("|       |")
        print("| *   * |")
    elif value == 5:
        print("| *   * |")
        print("|   *   |")
        print("| *   * |")

+-------+
| *   * |
|   *   |
| *   * |
+-------+
|*      |
|       |
|     * |
+-------+
|     * |
|   *   |
| *     |

In [74]:
def increment(x):
  print("beginning execution of increment, x =",x)
  x += 1
  print("ending execution of increment,x=",x)

def main():
    x = 5 
    print("before increment,x =",x)
    increment(x)
    print("after increment,x =",x)
main()

before increment,x = 5
beginning execution of increment, x = 5
ending execution of increment,x= 6
after increment,x = 5

In [76]:
def factorial (n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
def main():
    print("0!= ", factorial(0))
    print("1!= ",factorial(1))
    print("6!= ",factorial(6))
    print("10!=",factorial(10))
main()

0!=  1
1!=  1
6!=  720
10!= 3628800